[submodule "EndpointIdentity"]
	path = EndpointIdentity
	url = ../../UnifiedConnector/EndpointIdentity.git
[submodule "PackageManager"]
	path = PackageManager
	url = ../../UnifiedConnector/PackageManager.git
