[submodule "EndpointIdentity"]
	path = EndpointIdentity
	url = https://github.com/adjamwal/EndpointIdentity.git
[submodule "PackageManager"]
	path = PackageManager
	url = https://github.com/adjamwal/PackageManager.git
[submodule "third-party/jsoncpp"]
	path = third-party/jsoncpp
	url = ../../Cloud/fireamp-win-jsoncpp.git
[submodule "third-party/curl"]
	path = third-party/curl
	url = ../../Cloud/curl-rel.git
[submodule "third-party/ciscossl"]
	path = third-party/ciscossl
	url = ../../Cloud/ciscossl-rel.git
[submodule "third-party/gtest"]
	path = third-party/gtest
	url = ../../Cloud/fireamp-win-google-test.git
[submodule "third-party/fff"]
	path = third-party/fff
	url = ../../Cloud/fff-rel.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = ../../UnifiedConnector/spdlog-rel.git
[submodule "third-party/crashpad/crashpad"]
	path = third-party/crashpad/crashpad
	url = ../../Cloud/crashpad.git
	shallow = true
[submodule "ProxyDiscovery-Mac"]
	path = ProxyDiscovery-Mac
	url = https://github.com/adjamwal/ProxyDiscovery-Mac.git
[submodule "third-party/libxml2"]
	path = third-party/libxml2
	url = ../../Cloud/libxml2.git
[submodule "third-party/boost"]
	path = third-party/boost
	url = ../../Cloud/boost-rel.git
