# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Temporary swap files
*.swp

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Installers
*.pkg
*.dmg

# Build Directory
/debug/
/release/
/xcode_debug/
/xcode_release/
/Staging/

# Crashpad build artefacts
/third-party/crashpad/.cipd/
/third-party/crashpad/.gclient_previous_sync_commits
/third-party/crashpad/_bad_scm/
/third-party/crashpad/export/
/third-party/crashpad/xcode_export/


